<?xml version="1.0"?>
<launch>
	<!-- Get arguements  -->
	<arg name="config" doc="Filename of the test config" />
	<arg name="save" doc="Filename of data to save" />
	<arg name="debug" default="False" doc="Whether debug is on" />
	<arg name="action_name" default="virtual_instron" doc="Name of the action server" />


	<!-- start the run node and pass it all of the parameters -->
    <node name="virtual_instron_runner_node" pkg="virtual_instron" type="run_single_test.py" respawn="false"
    	output="screen">
		<param name="debug" type="bool" value="$(arg debug)"/>
		<param name="action_name" type="str" value="$(arg action_name)" />
		<param name="config_file" type="str" value="$(arg config)" />
		<param name="save_file" type="str" value="$(arg save)" />
		
    </node>
</launch>